<!DOCTYPE html>
<html lang="en">
    <head>{% include "head.njk" %}</head>
    <header>
        <section>
            <nav class="topbar">
                <div class="right-aligned-links">
                    <a href="/"
                       class="no-tufte-underline"
                       style="color: #246eb9;
                              margin-right: 3%">Carissa & Tyler</a>
                </div>
            </nav>
        </section>
    </header>
    <body>
        <article>
            <section>
                {# NOTE: no title in this layout#}
                {{ content | safe }}
            </section>
        </article>
    </body>
</html>
