<!DOCTYPE html>
<html lang="en">
    <head>{% include "head.njk" %}</head>
    <header>
        <nav class="topbar">
            <div class="right-aligned-links">
                <a href="/" class="no-tufte-underline">Carissa & Tyler</a>
                <a href="/rsvp/" class="no-tufte-underline">RSVP</a>
                <a href="/travel/" class="no-tufte-underline">Travel</a>
                <a href="/schedule/" class="no-tufte-underline">Schedule</a>
                <a href="/maui-recs/" class="no-tufte-underline">Maui Recs</a>
                <a href="/registry/" class="no-tufte-underline">Registry</a>
            </nav>
        </header>
        <body>
            <article>
                {# NOTE: no title in this layout#}
                {{ content | safe }}
            </article>
        </body>
    </html>
