---
layout: frontpage.njk
subtitle: Carissa & Tyler are getting married!
tags: ["wedding"]
---

<section class="hero-banner">
    <img src="/assets/img/pasture-with-text.png"
         alt="Wedding venue pasture"
         class="hero-bg-image"
         width="1800"
         height="2400"
         loading="eager"
         fetchpriority="high">
</section>
<section>
    <p>
        <span class="marginnote" style="text-align: center; font-family: frenchaperitif; font-style: italic; font-size: 1.2em; color: #568259;">
        <img src="/assets/img/tyler-and-riss.jpg" alt="Carissa & Tyler" style="width: 80%;" />
        <br>May 2<small>nd</small>, 2026<br>
        Kula, Maui, HI
        </span>
    </p>
    <p>
        <br>
        Hi everyone!
        <br>
        <br>
        We'll be using this site to share details leading up to our wedding. Thanks so much for all the love and support- can't wait to celebrate with you all!
        <br>
        <br>
        Love,
        <br>
        Carissa and Tyler
    </p>
</section>
