---
layout: frontpage.njk
subtitle: Carissa and Tyler are getting married!
tags: ["wedding"]
---

<section class="hero-banner">
    <img src="/assets/img/pasture.png"
         alt="Wedding venue pasture"
         class="hero-bg-image"
         width="1800"
         height="2400"
         loading="eager"
         fetchpriority="high">
    <div class="hero-content">
        <h1>Carissa and Tyler</h1>
    </div>
</section>
<section>
    <p>
        <span class="marginnote">
        <img src="/assets/img/tyler-and-riss.jpg" alt="Carissa and Tyler" </span>
    </p>
    <p>
        We've created this website as a convenient way to share all of the important details leading up to our wedding. Here you'll find information about the ceremony and reception, travel and accommodation suggestions, our registry, and a little bit about our story.
    </p>
    <p>
        We are so grateful for your love and support and can't wait to share this joyous occasion with you. Please take a look around, learn more about our wedding plans, and don't forget to RSVP by [Insert RSVP Date Here]!
    </p>
    <p>
        Get ready to celebrate with us! We look forward to seeing you soon.
        <br>
        <br>
        With love,
        <br>
        Carissa & Tyler
    </p>
</section>
